body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav {
  background-color: #001f3f; /* 深蓝色背景 */
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

nav div {
  display: flex;
  align-items: center;
} 